<div class="vertical  dark ">
  <div class="wrapper">
    <nav class="topnav navbar navbar-light" ng-include="'component/admin-nav.html'">
    </nav>
    <aside class="sidebar-left border-right shadow" id="leftSidebar" ng-include="'component/admin-aside.html'"
      data-simplebar>
    </aside>
    <main role="main" class="main-content" ng-controller="AdminPatientRecord">

      <div class="d-flex flex-items-center flex-justify-between">
        <h1 class="text-muted" id="history-pagehead">Lich sử điều trị</h1>
      </div>
      <div class="custom-hr"></div>
      <div class="box mt-3">
        <!-- <div class="box-header mb-3">
          <div class="row align-items-center justify-content-end">
            <div class="col-lg-3">
              <select id="filterCustomer" class="form-control select2" ng-model="formPatientRecord.patientId"
                ng-options="p.patientId as (p.fullName + (p.phoneNumber ? ' - ' + p.phoneNumber : '')) for p in listPatientDB"
                style="height: 40px;">
              </select>
            </div>
            <div class="col-lg-3">
              <div class="input-group">
                <div class="input-group-prepend">
                  <div class="input-group-text" id="button-addon-date">
                    <span class="fe fe-calendar fe-16"></span>
                  </div>
                </div>
                <input type="text" class="form-control drgpickerSingle" id="dateFilterPatientRecord"
                  ng-model="formPatientRecord.dateFilter" autocomplete="off" style="height: 40px;">
              </div>
            </div>

          </div>
        </div> -->
        <div class="box-content">
          <div class="row justify-content-center">
            <div class="col-12">
              <div class="card card-fill timeline">
                <div class="card-header">
                  <div class="box-header">
                    <div class="row align-items-center justify-content-end">
                      <div class="col-lg-3">
                        <select id="filterCustomer" class="form-control select2" ng-model="formPatientRecord.patientId"
                          ng-options="p.patientId as (p.fullName + (p.phoneNumber ? ' - ' + p.phoneNumber : '')) for p in listPatientDB"
                          style="height: 40px;">
                        </select>
                      </div>
                      <div class="col-lg-3">
                        <div class="input-group">
                          <div class="input-group-prepend">
                            <div class="input-group-text" id="button-addon-date">
                              <span class="fe fe-calendar fe-16"></span>
                            </div>
                          </div>
                          <input type="text" class="form-control drgpicker-filter-record" id="dateFilterPatientRecord"
                            ng-model="formPatientRecord.dateFilter" autocomplete="off" style="height: 40px;">
                        </div>
                      </div>

                    </div>
                  </div>
                </div>
                <div class="card-body">
                  <div class="appointment-content" ng-repeat="date in listDateOfAppointmentDB"
                    ng-init="getAppointmentByDate(date)">
                    <h6 class="text-uppercase text-muted mb-4">{{date|dateFormat}}</h6>
                    <div class="pb-3 timeline-item" ng-repeat="app in appointments" ng-class="{
                      'item-success': app.appointmentStatus.status == 'Đã xác nhận',
                      'item-primary': app.appointmentStatus.status == 'Hoàn Thành',
                      'item-info': app.appointmentStatus.status == 'Đang Diễn Ra',
                      'item-danger': app.appointmentStatus.status == 'Đã Hủy',
                      'item-warning': app.appointmentStatus.status == 'Không Đến'
                  }">                  
                      <div class="pl-5">
                        <div class="mb-3">
                          Khách hàng <strong>{{app.patient.fullName}}</strong>
                          <span class="text-muted mx-2">đã
                            {{app.appointmentStatus.status}} cuộc hẹn</span>
                          <strong>{{app.appointmentId}}</strong>
                        </div>
                        <div class="card d-inline-flex mb-2">
                          <div class="card-body bg-light py-2 px-3">
                            Khách hàng đã điệu trị các vấn đề
                            <strong>{{app.appointmentPatientRecord.currentCodition}}</strong>
                          </div>
                        </div>
                        </p>
                        <p class="text-muted">Bác sĩ điều trị: {{app.doctor.fullName}}
                          <span class="badge badge-light">Hẹn tái khám:
                            {{app.appointmentPatientRecord.reExamination}}</span>
                        </p>
                        <a class="float-right small text-primary" href="#!">Xem chi tiết</a>
                      </div>
                      <div class="custom-hr mb-3"></div>
                    </div>
                  </div>
                </div> <!-- / .card-body -->
              </div> <!-- / .card -->
            </div> <!-- .col-12 -->
          </div>
        </div>
      </div>

      <div class="admin-notify" ng-include="'component/admin-notify.html'"></div>
    </main> <!-- main -->
  </div>
</div>