<div class="vertical  dark ">
    <div class="wrapper">
        <nav class="topnav navbar navbar-light justify-content-end" ng-include="'component/admin-nav.html'">
        </nav>
        <aside class="sidebar-left border-right shadow" id="leftSidebar" ng-include="'component/admin-aside.html'"
            data-simplebar>
        </aside>
        <main role="main" class="main-content" ng-controller="AdminPostController">
            <nav aria-label="breadcrumb">
                <ol class="breadcrumb">
                </ol>
            </nav>
            <div class="container-fluid">
                <div class="row justify-content-center mb-3">
                    <div class="col-12">
                        <div class="d-flex flex-items-center flex-justify-between custom-heading">
                            <h3 class="text-secondary">Bài viết</h3>
                        </div>
                        <div class="custom-hr mb-3"></div>
                        <div class="row align-items-center mb-3">
                            <div class="col-md-12">
                                <div class="card shadow">
                                    <div class="card-body">
                                        <h6 class="card-title">Thêm bài viết</h6>
                                        <div class="col">
                                            <div class="form-outline mb-3">
                                                <label class="form-label"
                                                    for="adminPost">Tiêu đề bài viết</label>
                                                <input type="text"
                                                    id="adminPost"
                                                    ng-model="formPost.title"
                                                    class="form-control" placeholder="Tiêu đề bài viết"
                                                    required>
                                            </div>
                                        </div>
                                        <div id="editor" style="min-height:100px;" ng-model="formPost.body">
                                            
                                        </div>
                                    </div>
                                    <div class="card-footer">
                                        <button class="btn btn-primary float-right" ng-click="createPost()">Tạo bài viết</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <div class="d-flex flex-items-center flex-justify-between custom-heading">
                            <h3 class="text-secondary">Danh sách bài viết</h3>
                        </div>
                        <div class="custom-hr mb-3"></div>
                        <div class="row align-items-center mb-3">
                            
                        </div>
                    </div>
                </div>
            </div>
        </main>
    </div>
</div>