
<ul class="nav"> 
    <li class="nav-item dropdown">
        <a class="nav-link dropdown-toggle text-muted pr-0" href="#" ng-click="$event.preventDefault()" id="navbarDropdownMenuLink" role="button"
            data-toggle="dropdown" aria-haspopup="true" aria-expanded="false">
            <span class="avatar avatar-sm mt-2">
                <img src="/assets/images/avatars/ntt.jpeg" alt="..." class="avatar-img rounded-circle">
            </span>
        </a>
        <div class="dropdown-menu dropdown-menu-right" style="left: auto !important;" aria-labelledby="navbarDropdownMenuLink">
            <a class="dropdown-item" href="#!admin/my-profile">Hồ sơ của tôi</a>
            <a class="dropdown-item" href="#!admin/my-setting">Cài đặt</a>
            <a class="dropdown-item" href="#">Đăng xuất</a>
        </div>
    </li>
</ul>  
<!-- <div class="admin-notify" ng-include="'component/admin-notify.html'"></div> -->
